.menu-item li:hover{
	padding-left: 0px !important; 
	border-left: 5px solid #42a5f5;
	line-height: 250%;
	transition: all .2s;
	background-color: #37474f;
	color: white !important;
	border-radius: 2px;
	

}.menu-item li{
	border-top :1px solid grey;
	border-bottom :1px solid grey;
}.menu-item li:nth-child(1){
	border-bottom :0px solid grey;
}}.menu-item li:nth-child(3){
	position:relative;
	bottom: 2px;
}.menu-item li a:hover{
	color: white !important;
	transition: all .2s;
}.menu{
	line-height: 250%;
	padding-left: 0px;
	margin-left: 0px;
	height: 80vh;
}.bio{
	border-bottom: 1px solid grey;
	
}.profil{
	line-height: 100%;
}.barLateral{
	position: fixed;
}html,body{
	height: 100%;
}.layout{
	height: 100vh;
}.indicator{
	background-color: white !important;
	height: 5px !important;
}.formation{
	position: absolute;
	width: 15%;
	height: 35%;
	//border:2px solid black;
	border-radius: 5px;
	background-color: #eeeeee;

}.formation-photo{
	position : relative;
	//margin-left:10%;
	width:100%;
	padding: 30px;
	height: 75%;
	background-color: white;
}.formation-content{
	background-color: #eeeeee;
	width: 100%;
	height: 23%;
	padding: 10px;
	position : relative;
}